body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 40px;
}

.container {
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 600px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px #ccc;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #bbb;
}

button {
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #27a99d;
    color: white;
    border: none;
    cursor: pointer;
}