/* RESET CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* BODY */

body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: #ffffff;
}


/* CABEÇALHO */

header {
    min-height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 30px;

    background-color: #d5f3e5;
}


/* LOGO */

header img {
    width: 100px;
    height: auto;
}


/* MENU */

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-left: 20px;
}

.menu li a {
    padding: 5px;

    text-decoration: none;
    color: green;

    font-size: 14px;
}


/* CONTEÚDO */

.conteudo {
    width: 600px;
    margin: 45px auto;

    text-align: center;
}


/* TÍTULO */

.conteudo h1 {
    margin-bottom: 30px;

    font-family: "Brush Script MT", cursive;
    font-size: 38px;
    font-weight: normal;
}


/* GALERIA */

.galeria {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    gap: 25px 50px;
}


/* CADA IMAGEM */

.galeria figure {
    width: 120px;

    text-align: left;
}


/* IMAGENS */

.galeria img {
    display: block;

    width: 120px;
    height: 80px;

    object-fit: cover;
}


/* LEGENDA */

.galeria figcaption {
    margin-top: 6px;

    font-size: 11px;
    color: #555;
}


/* RODAPÉ */

footer {
    min-height: 50px;

    margin-top: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #d5f3e5;

    color: green;

    font-size: 11px;
}