body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    position: relative;
    margin: auto;
}

.meuSlide {
    display: none;
}

img {
    width: 100%;
}

.rotulo {
    color: white;
    font-size: 18px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: calc(100% - 20px);
    background-color: rgba(0, 0, 0, 0.5);
}

.numero {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.anterior, .proximo {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.anterior {
    left: 0;
}

.proximo {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.anterior:hover, .proximo:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.desaparecer {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}