body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(185, 185, 252);
}

header, footer {
    background-color: yellow;
}

nav {
    background-color: bisque;
}

li {
    background-color: aqua;
}

article {
    background-color: lightgreen;
}

aside {
    background-color: gray;
}